:root {
    --color-primary: #fa3838;
}

.dish {
  max-width: 240px;
  border: 1px solid var(--color-primary);
  border-radius: 4px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
}

.dish-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.price {
    color: var(--color-primary);
    font-weight: 900;
}

.desc {
  margin-top: 20px;
  font-size: 14px;
  color: #3b4955;
}

.spicy-badge {
  width: fit-content;
  height: 24px;
  padding: 4px;
  font-size: 12px;
  position: absolute;
  top: 0;
  right: 4px;
  background: red;
  color: white;
  border-radius: 0 0 8px 8px;
}