:root {
    --color-primary: #fa3838;
}

section {
    margin: 20px 20px 60px;
}

section > h2 {
    margin-bottom: 20px;
}

.category {
    color: #aaa;
    font-style: italic;
}

.filteredMenu {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 200px;
    background: #eee;
    padding: 20px 0;
    /* border: 1px solid; */
}

.filteredMenu div {
    border-left: 5px solid var(--color-primary);
    padding-left: 5px;
}

.filteredMenu p {
    margin-top: 5px;
    color: var(--color-primary);
}